li{
  list-style: none;
}

li a{
  position: relative;
  text-decoration: none;
  background-color: #00FF2D;
  font-weight: 600;
  transition: 0.7s;
  color: black;
  padding: 10px 20px;
  background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10%;
    background-size: 100% auto;
    display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
}